<div>
<table>
  <tr>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>2</td>
    <td>0</td>
  </tr>
  <tr>
    <td>3</td>
    <td>0</td>
  </tr>
  <tr>
    <td>4</td>
    <td>0</td>
  </tr>
  <tr>
    <td>5</td>
    <td>0</td>
  </tr>
  <tr>
    <td>6</td>
    <td>0</td>
  </tr>
  <tr>
    <td>E</td>
    <td>0</td>
  </tr>
  <tr>
    <td>P</td>
    <td>0</td>
  </tr>
  <tr>
    <td>F</td>
    <td>0</td>
  </tr>
  <tr>
    <td>G</td>
    <td>0</td>
  </tr>
  <tr>
    <td>G2</td>
    <td>0</td>
  </tr>
</table>
</div>