<h1>Welcome to Generala Game</h1>
<img src={{imagePath}} alt={{imagePath}}>
<h2>Game Rules:</h2>
<ul>
	<li ><p>It can be played by two or more players.</p></li>
  <li ><p>A player may choose which dices to enroll or to keep.</p></li>
  <li ><p>A player may reroll some or all of the dices up to three times on a turn.</p></li>
  <li ><p>If a player makes straight, Full house or Four of a kind on the first roll of a given turn, it is worth 5 or 10 extra points.</p></li>
  <li ><p>A player who makes Generala on the first roll of a turn qutomatically wins th game.</p></li>
  <li ><p>A category is eliminated if a player fails to make a valid score or chooses not to take score. And he can not score on that category for the rest of the game.</p></li>
  <li><p>Winner of the game is the one who finishes with the most points unless one scores General of their first roll.</p></li>
</ul>
<button (click)="startGame()">Start Game</button>
<button>Join Game</button>